.privacy {
  height: 100%;
  h2 {
    text-align: center;
    margin-top: 10px;
    color: rgb(68, 68, 202);
    text-shadow: 3px 3px 4px gray;
  }
  .main_p {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
