.register_p {
  margin: 70px 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  h3 {
    margin-top: 10px;
  }
  .c_input {
    border-radius: 25px;
    border: solid wheat;
    outline: none;
    padding-left: 10px;
    padding-right: 7px;
    width: 250px;
    margin-bottom: 20px;
    &:focus {
      border: solid orange;
    }
  }
  .c_inputs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
  }
  .c_btn_r {
    background-color: wheat;
    border-radius: 25px;
    outline: none;
    border: none;
    width: 110px;
    height: 35px;
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    &:hover {
      background-color: orange;
      transition: 250ms;
      color: white;
    }
  }
}
